<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="raelyard" value="https://raelyard.pkgs.visualstudio.com/_packaging/raelyard/nuget/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <raelyard>
            <add key="Username" value="asdf" />
            <add key="ClearTextPassword" value="" />
        </raelyard>
    </packageSourceCredentials>
</configuration>
